---
layout: archive
---

<p>I arrived at the Nicholas School in the fall of 2005. I currently split my time between teaching some of the GIS courses here and doing various research projects using spatial analysis. My current research generally focuses on developing tools that identify and map the delivery of ecosystem services under alternative management scenarios.</p>

<p>Prior to arriving at the Nicholas School, I spent 8 years at Stanford University’s Center for Conservation Biology working on projects ranging from ecological reserve design in Madagascar and Mexico, to mapping butterfly habitat in central Nevada, to creating tools to inventory and map species ranges.</p>

<p>Before Stanford, I was an instructor/research analyst in GIS at the University of Michigan’s School of Natural Resources and Environment, where I also received my masters degree in conservation biology and ecosystem management. My first exposure to GIS, however, was in 1990 when I was an undergraduate at Bowdoin College looking at nitrogen inputs upstream of a local shellfishery that had recently collapsed.</p>


